@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
/* Override thirdweb default styles */
.tw-connect-wallet {
  background: transparent !important;
  padding: 0 !important;
  min-height: 0 !important;
  height: auto !important;
  border: none !important;
  box-shadow: none !important;
}

.tw-connect-wallet > div {
  color: white !important;
}

.tw-connect-wallet:hover > div {
  color: white !important;
}